.hero article {
  background: #ff6b6b;
  color: white;
  margin: 15px;
} 
.hero button {
  background: #ff6b6b;
  color: white;
  margin: 15px;
} 
.hero div {
  background: #ff6b6b;
  color: white;
  margin: 15px;
} 
